.container {
    width: 80%;
    margin: 0.5rem auto;
}

.container a {
    color: rgb(0, 140, 255);
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
}

.container a:hover {
    color: rgb(0, 117, 212);
    border-bottom: 2px solid rgb(0, 117, 212);
}

.noBooks {
    text-align: center;
    font-size: 1.2rem;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.item {
    padding: 0.5rem;
    flex: 0 0 25%;
}

.bookContainer {
    height: 100%;
    flex: 0 0 20%;
    margin: 20px;
    position: relative;
    width: 150px;
}

.iconContainer {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    border-radius: 10px;
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
}

.iconContainer > svg {
    color: white;
    stroke: black;
    transform: scale(2);
    cursor: pointer;
    margin: 0;
    transition: all 0.25s;
}

.iconContainer:hover > svg {
    color: rgb(255, 75, 75);
}

.hoverChange:hover + .bookContainer > svg{
    top: -20px;
    right: 0px;
}

.container .hoverChange {
    height: 25vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    /* Tablet */
    .bookContainer {
        flex: 0 0 100%;
        height: 400px;
    }

    .bookContainer > *:nth-of-type(2) {
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    /* Mobile Devices */

}