.modal {
    width: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 2rem;
    cursor: default;
    z-index: 10;
    font-size: 120%;
}

.modal svg {
    position: absolute;
    top: 10px;
    right: 30px;
    transform: scale(2.5);
    cursor: pointer;
}

.modal path {
    stroke: #000;
    transition: all 0.25s;
}

.modal svg:hover > path {
    stroke: rgb(253, 57, 57);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    margin: 0.5rem;
    width: 75%;
}

.formGroup input {
    margin: 2rem auto;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 5px;
}

.submitContainer > button {
    padding: 1rem;
    background: #10a7d1;
    color: white;
    border: 2px solid transparent;
    font-size: 120%;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.25s;
}

.submitContainer > button:hover {
    background: #FFF;
    color: #10a7d1;
    border: 2px solid #10a7d1;
}