.main {
    background: rgb(240, 240, 240);
    width: 60vw;
    height: calc(80vh - 130px);
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main > div {
    width: 45%;
    height: 90%;
    background: white;
}

.divider {
    background: rgb(211, 243, 255);
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.map {
    height: 25%;
    z-index: 1;
    pointer-events: none;
}

.imageContainer {
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
}

.avatar img {
    width: 7vw;
    height: 7vw;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    border: 5px solid white;
    margin-top: -50%;
    margin-left: 1rem;
    z-index: 10;
}

.avatar {
    margin-bottom: 1rem;
    display: inline-block;
}

.imageContainer h2 {
    display: inline-block;
}

.basicInfo {
    padding: 1rem;
}

.infoGroup {
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

.infoGroup p {
    margin: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.infoGroup p:first-of-type {
    text-transform: uppercase;
    color:rgb(148, 148, 148);
}

.infoGroup p:last-of-type {
    margin-left: 1rem;
    font-weight: bold;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonContainer > button {
    padding: 1rem;
    display: flex;
    align-items: center;
    margin: 1rem;
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    border: 2px solid transparent;
    transition: all 0.25s;
}

.remove {
    background: rgb(255, 70, 70);
}

.remove:hover {
    background: white;
    color: rgb(255, 70, 70);
    border: 2px solid rgb(255, 70, 70);}

.add {
    background: rgb(16, 167, 209);
}

.add:hover {
    background: white;
    color: rgb(16, 167, 209);
    border: 2px solid rgb(16, 167, 209);
}

@media screen and (max-width: 768px) {
    /* Tablet */    
    .main > div {
        width: 100vw;
        height: auto;
        background: white;
    }
    .main {
        flex-direction: column;
        box-shadow: none;
        height: auto;
    }
    .breadcrumb {
        margin-bottom: 4rem;
    }
    .avatar img {
        width: 25vw;
        height: 25vw;
    }
    .imageContainer h2 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px) {
    /* Mobile Devices */
    
}