.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    flex: 0 0 calc(33% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 2rem;
    box-shadow: 0 5px 10px rgba(154,160,185,.3), 0 15px 40px rgba(166,173,201,.4);
    border-radius: 10px;
    transition: all 0.3s;
    text-align: center;
    cursor: pointer;
}

.item:hover {
    box-shadow: 0 5px 10px rgba(154,160,185,.6), 0 15px 40px rgba(166,173,201,.7);
    color: rgb(0, 94, 131);

}

.item svg {
    transform: scale(4);
    margin-bottom: 2rem;
    shape-rendering: geometricPrecision;
}

@media screen and (max-width: 768px) {
    .item {
        flex: 0 0 80%;
    }
}