.darkenContainer {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.modal {
    height: 50vh;
    width: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 1rem;
    cursor: default;
    z-index: 10;
}

.modal svg {
    position: absolute;
    top: 10px;
    right: 30px;
    transform: scale(2.5);
    cursor: pointer;
}

.modal path {
    stroke: #000;
    transition: all 0.3s;
}

.modal svg:hover > path {
    stroke: rgb(253, 57, 57);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    margin: 0.5rem;
    width: 75%;
}

.formGroup > p {
    padding: 0.5rem;
}

.formGroup input {
    margin: 0 1rem;
    width: 90%;
    padding: 0.5rem;
}

.submitContainer {
    position: absolute;
    bottom: 10%;
}

.submitContainer > button {
    padding: 1rem;
    background: #10a7d1;
    color: white;
    border: 2px solid transparent;
    font-size: 120%;
    width: 100px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.25s;
}

.submitContainer > button:hover {
    background: #FFF;
    color: #10a7d1;
    border: 2px solid #10a7d1;
}