.mainContainer {
    width: 90%;
    margin: 0 auto;
}

.mainContainer h3 {
    margin: 1rem;
}

.image img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
}

.image {
    margin-right: 1rem;
}

.item a {
    display: flex;
    align-items: center;
}

.list {
    margin: 1rem 2rem;
}

@media screen and (max-width: 768px) {
    /* Tablet */
    .mainContainer {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    /* Mobile Devices */
    
}