.profileContainer {
  display: flex;
  width: 50%;
  margin: 2rem auto;
}

.profileContainer > div {
  padding: 1rem;
}

.userSection {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  text-align: center;
}

.imageContainer > img {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.userSection h3 {
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.actions {
  flex: 1 1 70%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.actions > * {
  margin: 0 1rem;
}

.red {
  color: red;
}

.darken{
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  cursor: pointer;
}

.modal h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.modal p {
  text-align: center;
  margin: 0.5rem auto;
  max-width: 50%;
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.buttons button {
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.25s;
}

.buttons button:first-of-type {
  background: #10a7d1;
}

.buttons button:first-of-type:hover {
  color: #10a7d1;
  background: white;
  border: 2px solid #10a7d1;
}

.buttons button:last-of-type {
  background: #ff4e4e;
}

.buttons button:last-of-type:hover {
  color: #ff4e4e;
  background: white;
  border: 2px solid #ff4e4e;
}

.name {
  font-weight: bold;
  letter-spacing: 1px;
}

.formGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.formGroup input {
  padding: 0.5rem;
  width: 35%;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 5px;
}

.list {
  margin: 1rem 0;
}

.item {
  padding: 0;
}

.item a {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  /* Tablet */
  .userSection {
    display: none;
  }
  .profileContainer {
    margin: 0;
    width: 100%;
  }
  .actions {
    box-shadow: none;
  }
}