h2 {
    letter-spacing: 2px;
    margin: 20px 0 20px 20px;
}
.books {
    width: 75vw;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.book a {
    transition: all 0.3s;
}
.book a:hover {
    text-decoration: none;
    color: rgb(105, 105, 105);
}
.book {
    font-size: 60%;
    width: 250px;
    height: 550px;
}
.bookInner {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    height: 80%;
    overflow: hidden;
}
.bookInner .imageContainer {
    height: 70%;
    overflow: hidden;
}
.bookInner .imageContainer img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.bookDetails {
    padding: 10px;
}
