.messageContainer {
    width: 100%;
}

.message {
    padding: 1rem;
    border-radius: 10px;
    max-width: 400px;
    width: auto;
    display: inline-block;
    margin: 0.5rem 1rem;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.myMessage {
    background: rgb(0, 180, 235);
    color: white;
    border-bottom-right-radius: 0;
    margin-left: auto;
    float: right;
}

.otherMessage {
    background: rgb(218, 218, 218);
    border-bottom-left-radius: 0;
    margin-right: auto;
}

.thread {
    height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}