.messageContainer {
    width: 100%;
}

.message {
    padding: 1rem;
    border-radius: 15px;
    max-width: 400px;
    width: auto;
    display: inline-block;
    margin: 0.5rem 1rem;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.myMessage {
    background: rgb(0, 180, 235);
    color: white;
    border-bottom-right-radius: 0;
    margin-left: auto;
    float: right;
}

.otherMessage {
    background: rgb(218, 218, 218);
    border-bottom-left-radius: 0;
    margin-right: auto;
}

.thread {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    border-left: 1px solid rgb(196, 196, 196);
    border-top: 1px solid rgb(196, 196, 196);
}

.thread::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.thread::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.thread::-webkit-scrollbar-thumb {
    border-radius: 15px;
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.loadMoreButton {
    padding: 1rem;
    background: rgb(0, 180, 235);
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    /* Tablet */
    .thread {
        height: 55vh;
    }
}
@media screen and (max-width: 600px) {
    /* Mobile Devices */

}